.panel.layers
  ul
    background-color: white
    .sortable-placeholder
      background-color: lighten($highlight, 15%)
      padding: 4px

  .controls
    display: inline-block
    float: right
    margin-right: 10px

    button
      color: white

      &:hover, &.active
        color: $highlight

      &:nth-last-child(n+2)
        margin-right: 10px

  .layer
    color: $darkHighlight
    padding: 4px 10px
    cursor: pointer

    .controls button
      color: black

      &:hover
        color: $highlight

    &.current
      background-color: $highlight

      .controls button:hover
        color: white


