.panel.layers
  ul
    background-color: white
    .sortable-placeholder
      background-color: lighten($highlight, 15%)
      padding: 4px

  .layer
    color: $dark-highlight
    padding: 4px 10px
    cursor: pointer

    .controls button
      color: black

      &:hover
        color: $highlight

    &.current
      background-color: $highlight

      .controls button:hover
        color: white


