$dropdownActive: #222
#header
  background-color: $nav-color
  width: 100%

  margin-bottom: $padding

  color: $white

  > *:nth-child(n+2)
    margin-left: $padding


  a, button, li
    color: $white

  .menu-item
    &:hover, &.open
      background-color: $dropdownActive
      border-color: $dropdownActive

    > i
      margin-left: 10px

  .dropdown-list
    background-color: $dropdownActive
    border-color: $dropdownActive

    li
      padding-left: 10px
      &:hover
        color: $highlight

    i
      margin-right: 10px

  .control
    cursor: pointer
    &:hover
      background-color: $dropdownActive
    i.active
      color: $highlight
