@import '../../bower_components/fontawesome/scss/font-awesome'

@import 'variables'
@import 'mixins/lists'
@import 'resets'

body
  padding: 0
  margin: 0
  background-color: $background-color
  font-family: 'Open Sans', sans-serif
  color: $white
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

#quick-select
  position: absolute
  left: $nav_width * 2
  top: $nav-width
  background-color: #2d2d2d
  border: solid 4px #4d4d4d
  box-sizing: content-box

  div
    display: inline-block
    box-sizing: content-box
    &:nth-child(n+2)
      border-left: solid 4px #4d4d4d

canvas
  display: inine-block
  cursor: pointer
  user-select: none

#scene
  display: inline-block
  margin-left: $nav_width * 2
  margin-top: 32px * 3

  canvas
    cursor: none

#minimap
  canvas
    cursor: move

#panels
  margin-right: $nav-width
  display: inline-block
  vertical-align: top
  width: 256px
  float: right

#content
  height: 100%
  width: 100%
  position: relative

@import 'form'
@import 'modals'
@import 'nav'
@import 'panel'
@import 'layers'
@import 'legend'
@import 'notifications'
